[submodule "logical/sl_ahb_qspi"]
	path = logical/sl_ahb_qspi
	url = https://github.com/SoC-Labs/AHB-QSPI.git
[submodule "logical/socdebug_tech"]
	path = logical/socdebug_tech
	url = https://github.com/SoC-Labs/SoCDebug-Tech.git
