logical/CortexA53_1
logical/GIC400
logical/sie300
logical/SMC
logical/shared
logical/nic400_megasoc_main
logical/nic400_megasoc_system
logical/dma350
logical/power_control/logical
logical/power_control/*.log
software/build
software/shared/bin/cxdt.bin

socrates/CortexA53_1/build.log
socrates/sie300/sie300_axi5_sram_ctrl_1/build.log
.ecmproject
.project

software/shared/bin/*.bin