logical/CortexA53_1
logical/GIC400
logical/sie300
logical/SMC
logical/shared
logical/nic400_megasoc_main
logical/dma350

software/build

socrates/CortexA53_1/build.log
socrates/sie300/sie300_axi5_sram_ctrl_1/build.log
.ecmproject
.project