[submodule "logical/sl_ahb_qspi"]
	path = logical/sl_ahb_qspi
	url = https://git.soton.ac.uk/soclabs/ahb_qspi.git
[submodule "logical/socdebug_tech"]
	path = logical/socdebug_tech
	url = https://git.soton.ac.uk/soclabs/socdebug_tech.git
[submodule "logical/sdspi"]
	path = logical/sdspi
	url = https://git.soton.ac.uk/soclabs/sdio-controller.git
