[submodule "logical/sl_ahb_qspi"]
	path = logical/sl_ahb_qspi
	url = https://github.com/SoC-Labs/AHB-QSPI.git
[submodule "logical/socdebug_tech"]
	path = logical/socdebug_tech
	url = https://github.com/SoC-Labs/SoCDebug-Tech.git
[submodule "logical/sdspi"]
	path = logical/sdspi
	url = https://github.com/SoC-Labs/sdio-controller.git
[submodule "logical/ptp_clock"]
	path = logical/ptp_clock
	url = https://github.com/SoC-Labs/PHC-PTP-Hardware-Clock-AHB.git
[submodule "logical/ethernet_mac_ahb"]
	path = logical/ethernet_mac_ahb
	url = https://github.com/SoC-Labs/Ethernet-MAC-AHB.git
