
#-----------------------------------------------------------------------------
# The confidential and proprietary information contained in this file may
# only be used by a person authorised under and to the extent permitted
# by a subsisting licensing agreement from Arm Limited or its affiliates.
#
# (C) COPYRIGHT 2012-2016 Arm Limited or its affiliates.
# ALL RIGHTS RESERVED
#
# This entire notice must be reproduced on all copies of this file
# and copies of this file may only be made by a person if such person is
# permitted to do so under the terms of a subsisting license agreement
# from Arm Limited or its affiliates.
#
#      SVN Information
#
#      Checked In          : $Date: 2014-07-25 12:42:21 +0100 (Fri, 25 Jul 2014) $
#
#      Revision            : $Revision: 285827 $
#
#      Release Information : CORTEXA53-r0p4-52rel0
#
#-----------------------------------------------------------------------------
#
# This is the config file which must be edited prior to render the CORTEXA53_unconfigured.v
#
# This config file was auto generated by IP Catalog:
#   Generation Date               : 2024-10-04 11:18:28.687422
#   IP Catalog  : ip-catalog
#
# declare private package
package PARAM;
BEGIN {}


$parameter{NUM_CPUS}             = 1; # Choose the number of CPUs in the cluster

$parameter{NEON_FP}              = "TRUE"; # Include the NEON & Floating-Point unit in each CPU

$parameter{CRYPTO}               = "FALSE"; # Include the Crypto extensions in the NEON & Floating-Point unit in each CPU

$parameter{CPU_CACHE_PROTECTION} = "FALSE"; # Protect the CPU cache RAMs with parity/ECC

$parameter{ACE}                  = "TRUE"; # Choose ACE for the main bus interface.  If FALSE, CHI will be chosen.

$parameter{L2_CACHE}             = "TRUE"; # Include L2 Cache

$parameter{ACP}                  = "FALSE"; # Include an ACP interface on the SCU

$parameter{SCU_CACHE_PROTECTION} = "FALSE"; # Protect the L2 cache RAMs with ECC

$parameter{LEGACY_V7_DEBUG_MAP}  = "FALSE"; # Use a v7 memory map for the debug components

  # L1 Instruction and Data Cache Size
  #
  # 8kB $
  # 16kB $
  # 32kB $
  # 64kB $

$parameter{L1_ICACHE_SIZE}       = "32KB";
$parameter{L1_DCACHE_SIZE}       = "32KB";

  # L2 Cache Size
  #
  # 128kB $
  # 256kB $
  # 512kB $
  # 1024kB $
  # 2048kB $

$parameter{L2_CACHE_SIZE}        = "256KB";

  # L2 Data RAMs Input Latency
  #
  # 1 : 1 cycle latency
  # 2 : 2 cycles latency

$parameter{L2_INPUT_LATENCY}     = "1";

  # L2 Data RAMs Output Latency
  #
  # 2 : 2 cycles latency
  # 3 : 3 cycles latency

$parameter{L2_OUTPUT_LATENCY}    = "2";



################################################################################
# return successful requisition
return 1;

END {}
__END__
